.to-do-footer {
    height: 12%;
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.597);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.to-do-footer > p {
    color: var(--font-color);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.to-do-footer > button {
    color: white;
    width: 7.3rem;
    height: 2.1rem;
    background-color: var(--font-color);
    border-radius: 1rem;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
}
