* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --font-color: #7f8eff;
}
body {
    font-size: 62.5%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdc7a6;
}
